# Swift
.build/
*.xcodeproj
*.xcworkspace
*.xcuserdata
*.xcuserstate
DerivedData/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?

# Xcode
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
Packages/
Package.resolved
*.xcodeproj

# IDE
.vscode/
.idea/

# Build artifacts
*.o
*.swiftdoc
*.swiftmodule
